/workspace-group-project/.metadata/

/workspace-group-project/food-tracker/.classpath

/workspace-group-project/food-tracker/.project

/workspace-group-project/food-tracker/build

/workspace-group-project/food-tracker/.settings

/workspace-group-project/food-tracker/WebContent/config.properties

.DS_STORE

/workspace-group-project/Servers